.card {
    width: 498px;
}

form>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input.car_plate {
    padding: 13px 21px;
    font-size: var(--h2-font-size);
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    font-weight: 700;
    max-width: 300px;
    text-align: center;
    text-transform: uppercase;
}

form input.car_plate+label {
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}