.card {
    width: 498px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register_prompt {
    margin-top: 10px;
    margin-bottom: 100px;
}